#wrap {
  width: 100%;
}
#wrap #goTop {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 30px;
  bottom: -60px;
  z-index: 4;
  opacity: 0;
  transition: all 1s;
}
#wrap #goTop.on {
  bottom: 20px;
  opacity: 1;
}
#wrap #goTop a {
  width: 100%;
  display: block;
}
#wrap #goTop a img {
  width: 100%;
}