#wrap {
   width:100%;
   #quickMenu {
      z-index: 4;
      position: absolute;
      top: 674.578px;
      right: 20px;
      width: 80px;
      &.on {
         position: fixed;
         top: 50%;
         margin-top: -100px;
      }
      ul {
         width: 100%;
         li {
            width: 100%;
            &:first-child {
               padding: 0 0 10px 0;
            }
            a {
               width: 100%;
               display: block;
            }
            &:nth-child(1) a {
               img {
                  width: 100%;
               }
            }
            &:nth-child(2) a {
               padding: 8px;
               border: 1px solid #ddd;
               font-size: 12px;
               color: #555;
               text-align: center;
            }
            &:nth-child(3) a {
               padding: 8px;
               border: 1px solid #ddd;
               font-size: 12px;
               color: #555;
               text-align: center;
               border-bottom: 1px solid #ddd;
            }
         }
      }
   }
}